{% extends "layout.html" %}

{%block main%}
 <div class="container-fluid justify-content-center" class="imagecont">
    <img id="sdg7" src="static/sdg7.jpg" class="img-fluid" alt="Responsive image">
        <div class="centered" >
            <div class="aboutsection">
                <p class="title">
                    About this Project </p>
                <p  class="text" id="about">
                Data on environmental indicators is often just displayed as it is. We see the numbers as they are. Sometimes in graphs or in comparison.
        <br> <br>This project aims to uncover insights behind data on SDG 7 using machine learning techniques.</p>
            </div>
        </div>
    </div>


<div class="container greencont">
        <p class="title">What is SDG7?</p>
        <p  class="text" >SDG7 is the seventh of the United Nations' Sustainable Development Goals. The goals are part of the Agenda 2030
            and a number of them is thus supposed to be achieved by 2030. The 7th goal, which is the focus of this project, is the goal:
            <br> <br> </p>
            <p class="text-centered"><big>Affordable and clean energy</big></center> <br><br></p>
            <p  class="text" >
            All goals are further broken down into smaller targets, which in turn include indicators. The indicators are intended to help measure the progress on the goals.
        </p>
</div>

<div class="container whitebrd">
  <div class="row">
    <div class="col-sm-4">
        <p class="title">
            The SDG7 Targets and Indicators
        </p>
    </div>

    <div class="col-sm-4">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <ol><li class="lielement">Universal access to affordable, reliable and modern energy</li></ol>
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <i>More precisely:</i>
                    By 2030, ensure universal access to affordable,
                    reliable and modern energy services<br><br>
                    <i>Indicators:</i>
                        <ul><li>Proportion of population with access to electricity</li>

                        <li>Proportion of population with primary reliance on clean fuels and technology</li></ul>

                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <ol start="2"><li class="lielement">Increase the share of renewable energy</li></ol>
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <i>More precisely:</i>
                    By 2030, increase substantially the share of renewable energy in the global energy mix<br><br>
                    <i>Indicators:</i>
                        <ul><li>Renewable energy share in the total final energy consumption</li></ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <ol start="3"><li class="lielement">Double the global rate of improvement in energy efficiency</li> </ol>
                </button>
              </h2>
              <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <i>More precisely:</i>
                    By 2030, double the global rate of improvement in energy efficiency<br><br>
                    <i>Indicators:</i>
                        <ul><li>Energy intensity measured in terms of primary energy and GDP</li></ul>
                </div>
              </div>
            </div>

          </div>
    </div>

    <div class="col-sm-4">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingfour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                    <ol start="4"><li class="lielement">Strengthen international cooperation</li></ol>
                </button>
              </h2>
              <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <i>More precisely:</i>
                    By 2030, enhance international cooperation to facilitate access to clean energy research and
                    technology, including renewable energy,
                    energy efficiency and advanced and cleaner fossil-fuel technology, and promote investment
                    in energy infrastructure and clean energy technology<br><br>
                    <i>Indicators:</i>
                        <ul><li>International financial flows to
                            developing countries in support of clean energy
                            research and development and renewable energy production,
                            including in hybrid systems</li></ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingfive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                    <ol start="5"><li class="lielement">Improve infrastructure in developing countries</li></ol>
                </button>
              </h2>
              <div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingfive" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <i>More precisely:</i>
                    By 2030, expand infrastructure and upgrade technology for supplying modern and sustainable energy
                    services for all in developing countries, in particular least developed countries,
                    small island developing States, and land-locked developing countries, in accordance with their
                    respective programmes of support<br><br>
                    <i>Indicators:</i>
                        <ul><li>Installed renewable energy-generating capacity in developing countries (in watts per capita)</li></ul>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>

<div class="container greencont">
    <p class="title" >Indicators In This Project</p>
    <h3>Due to the large amount of missing data in the dataset used for this project, the focus of the project
      has been narrowed down to the following 4 indicators.
    </h3><br><br>
</div>

<div class="container">
<div class="row">
  <div class="col-3 variables vargr">
    Access to electricity (% of population)
  </div>
  <div class="col-3 variables var">

  </div>
  <div class="col-3 variables vargr">
    Renewable energy share in the total final energy consumption (%)
  </div>
  <div class="col-3 variables">

  </div>
</div>
<div class="row">
  <div class="col-3 variables">

  </div>
  <div class="col-3 variables varwh">
    Access to clean fuels for cooking
  </div>
  <div class="col-3 variables">

  </div>
  <div class="col-3 variables varwh">
    Energy intensity level of primary energy (MJ/$2017 PPP GDP)
  </div>
</div>
</div>

<div class="container whitebrd">
  <div class="row">
    <div class="col-sm-4">
        <p class="title">
            Missing Countries
        </p>
    </div>
      <div class="col-sm-4">
        <p>These countries have been removed from the analysis due to a large number of missing values across indicators
        which makes analysis and predictions difficult.
        <br><br>
        In case of countries for which observations contained some missing values, the missing values were filled using the median of
        the available data for said country.
      </p>
      </div>
      <div class="col-sm-4">
        <p class="highlight" id="missing">
        {% for element in missing%}
        {%if element == last %}
        {{element}}.
        {%else%}
        {{element}},
        {%endif%}
        {%endfor%}

      </p>
      </div>
  </div>
</div>
{%endblock%}